@import "./preflight.css";

@font-face {
  font-family: "Berkeley Mono";
  src: url("https://jclem.nyc3.cdn.digitaloceanspaces.com/fonts/BerkeleyMono-Regular.woff2")
    format("woff2");
}

:root {
  --color-emerald-500: #10b981;
  --color-emerald-700: #047857;
  --color-white: #fff;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-border: var(--color-zinc-400);
  --color-canvas: var(--color-white);
  --color-card: var(--color-zinc-50);
  --color-card-text: var(--color-zinc-800);
  --color-text: var(--color-zinc-800);
  --color-text-deemphasize: var(--color-zinc-500);
  --color-code-bg: var(--color-zinc-200);
  --color-highlight: var(--color-emerald-700);

  --box-sm: 640px;
  --box-3xl: 48rem;

  --font-sans: "Hanken Grotesk", sans-serif;
  --font-mono: "Berkeley Mono", monospace;

  --text-xs-size: 0.75rem;
  --text-xs-line: 1rem;
  --text-sm-size: 0.875rem;
  --text-sm-line: 1.25rem;
  --text-base-size: 1rem;
  --text-base-line: 1.5rem;
  --text-lg-size: 1.125rem;
  --text-lg-line: 1.75rem;
  --text-xl-size: 1.25rem;
  --text-xl-line: 1.75rem;
  --text-2xl-size: 1.5rem;
  --text-2xl-line: 2rem;

  @media (prefers-color-scheme: dark) {
    & {
      --color-border: var(--color-zinc-500);
      --color-canvas: var(--color-zinc-800);
      --color-card: var(--color-zinc-700);
      --color-card-text: var(--color-zinc-100);
      --color-text: var(--color-zinc-100);
      --color-text-deemphasize: var(--color-zinc-400);
      --color-code-bg: var(--color-zinc-900);
      --color-highlight: var(--color-emerald-500);
    }
  }
}

html,
body {
  background-color: var(--color-canvas);
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  max-width: var(--box-3xl);
  width: 100%;

  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 640px) {
    & {
      padding: 2rem;
    }
  }
}

a {
  color: var(--color-highlight);
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

dl {
  display: grid;
  grid-template-columns: 1fr 4fr;

  font-family: var(--font-mono);
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line);

  @media (min-width: 640px) {
    & {
      font-size: var(--text-xs-size);
      line-height: var(--text-xs-line);
    }
  }

  dt,
  dd {
    padding: 0.25rem;

    border-width: 1px;
    border-bottom-width: 0;
    border-color: var(--color-border);

    &:last-of-type {
      border-bottom-width: 1px;
    }
  }

  dt {
    font-weight: 700;
  }

  dd {
    border-left-width: 0;
  }
}

article {
  max-width: 42rem;
}

article,
article > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  hyphens: auto;
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
  font-family: var(--font-mono);
  font-weight: 600;
}

article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
  margin-top: 1rem;
  font-family: var(--font-mono);
}

article > h1 {
  margin-bottom: 1rem;

  font-size: var(--text-2xl-size);
  line-height: var(--text-2xl-line);
}

article > h2 {
  font-size: var(--text-xl-size);
  line-height: var(--text-xl-line);
}

article > h3 {
  font-size: var(--text-lg-size);
  line-height: var(--text-lg-line);
}

article > ul,
article > ol {
  margin-left: 1rem;

  @media (min-width: 640px) {
    & {
      margin-left: 0;
    }
  }
}

article ul {
  list-style-type: disc;
}

article ol {
  list-style-type: decimal;
}

article li::marker {
  color: var(--color-text-deemphasize);
}

article hr {
  border-color: var(--color-border);
}

article > :not(pre) > code {
  background-color: var(--color-code-bg);
  font-family: var(--font-mono);
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line);
}

article mjx-container[jax="SVG"][display="true"] {
  display: flex;
  justify-content: center;
}

article mjx-container[jax="SVG"]:not([display="true"]) svg {
  display: inline;
}

article blockquote {
  padding-left: 0.5rem;
  padding-right: 1rem;

  border-left-width: 1px;
  border-color: var(--color-border);

  color: var(--color-text-deemphasize);
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line);

  @media (min-width: 640px) {
    & {
      padding-left: 1.5rem;
      padding-right: 2rem;
    }
  }
}

.img-figure,
.vid-figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.img-figure figcaption,
.vid-figure figcaption {
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line);
  color: var(--color-text-deemphasize);
  text-align: center;
  font-style: italic;
}

.vid-figure video {
  width: 100%;
}

.footnote {
  font-size: var(--text-xs-size);
  line-height: var(--text-xs-line);
  vertical-align: super;
}

.footnotes > ol {
  margin-top: 0.5rem;
  font-size: var(--text-sm-size);
  line-height: var(--text-sm-line);
  color: var(--color-text-deemphasize);
}

.footnotes > ol > li {
  position: relative;
}

.reversefootnote {
  margin-left: 0.25rem;
  font-size: var(--text-xs-size);
  line-height: var(--text-xs-line);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;

  nav {
    width: 100%;

    font-family: var(--font-mono);

    ul {
      display: flex;
      justify-content: space-between;
    }

    a {
      color: inherit;
      text-decoration-line: none;
    }

    .home-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        border-radius: 9999px;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  main {
    width: 100%;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
