---
import type { GetStaticPaths } from "astro";
import { getPublishedWriting } from "../../content/config";
import Site from "../../layouts/Site.astro";

export const getStaticPaths = (async () => {
  const posts = await getPublishedWriting();

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();

declare global {
  interface Window {
    MathJax?: {
      svg: {
        scale: number;
        minScale: number;
      }
    }
  }
}
---

<Site title={post.data.title} description={post.data.summary}>
  {post.data.hasMath && (
    <script>
        window.MathJax = {
            svg: {
                scale: 0.9,
                minScale: 0.5,
            }
        }
    </script>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.min.js"></script>
  )}
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/writing">
            ← Writing Archive
          </a>
        </li>

        <li>
          <a href="/" class="home-link">
            <img
              src="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-1024.webp"
              alt="Photograph of Jonathan Clem"
            />
            <span>Jonathan Clem</span>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <article>
        <h1>{post.data.title}</h1>
        <Content />
      </article>
    </main>
  </div>
</Site>
