---
import { getCollection } from "astro:content";
import Site from "../../layouts/Site.astro";

const posts = await getCollection("writing", ({ data }) => {
  return data.published && data.publishedAt != null;
}).then((posts) => {
  return posts.sort((a, b) => {
    return b.data.publishedAt!.getTime() - a.data.publishedAt!.getTime();
  });
});

const dateFormat = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Site
  title="Writing Archive"
  description="A collection of articles and blog posts by Jonathan Clem"
>
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/">
            <div class="home-link">
              <span>←️</span>
              <img
                src="https://jclem.nyc3.cdn.digitaloceanspaces.com/profile/profile-1024.webp"
                alt="Photograph of Jonathan Clem"
              />
              <span>Jonathan Clem</span>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <div>
        <h1>Writing Archive</h1>

        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/writing/${post.slug}`}>{post.data.title}</a>

                <time datetime={post.data.publishedAt!.toISOString()}>
                  {dateFormat.format(post.data.publishedAt)}
                </time>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </div>

  <style>
    main > div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    main > div > ul {
      width: 100%;

      border-width: 1px;
      border-color: var(--color-border);

      font-family: var(--font-mono);
      font-size: var(--text-sm-size);
      line-height: var(--text-sm-line);

      li {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
          border-top-width: 1px;
          border-color: var(--color-border);
        }

        > *:not(:first-child) {
          border-top-width: 1px;
          border-color: var(--color-border);
          border-style: dashed;
        }

        > a,
        > time {
          padding: 0.25rem;
        }
      }
    }
  </style>
</Site>
